<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
    {% include 'googlefont.html' %}
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css'%}">

</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/success">
            <i class="bi bi-chat-square-quote"></i>
            Quotable
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/success">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile/{{user.id}}">My Quotes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/activity">Activity</a>
                </li>
            </ul>
            <span class="navbar-text">
                <a class="navbar-text mr-4" href="/settings/{{user.id}}" role="button"> {{user.first_name}} {{ user.last_name }}</a>
                <a class="btn btn-outline-secondary" href="/logout" role="button">Logout</a>
                
            </span>
            
            
        </div>
    </nav>
    <!-- navbar -->

    {% if messages %}
    <div class="alert alert-primary m-0" role="alert">
        {% for message in messages %}
        {{message}}
        <br>
        {% endfor %}
    </div>
    {% endif %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container mt-n3 mb-n3">
            <div class="row">
                <div class="col-sm">
                    <h1>Welcome to Quotable</h1>
                    <form action="/choose_genre" method="post">
                        {% csrf_token %}
                    
                        <div class="form-group">
                            <label for="genre">Match quizzes to movies from your favorite genre:</label>
                            <select class="form-control" name="genre" id="genre">
                                <option value="family">Family</option>
                                <option value="action">Action</option>
                                <option value="comedy">Comedy</option>
                                <option value="thriller">Thriller</option>
                                <option value="documentary">Documentary</option>
                                <option value="crime">Crime</option>
                                <option value="horror">Horror</option>
                                <option value="anime">Anime</option>
                                <option value="romance">Romance</option>
                                <option value="scifi">Sci-Fi</option>
                                <option value="romcom">Romantic Comedy</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Start Quiz</button>
                    </form>

                </div>
            </div>
            
        
        </div>
    </div>

    <div class="container mt-n3 mb-n3">
        <div class="row">
            <div class="col-sm p-3 m-2" style="border:2px solid #d5d5d5; border-radius: 25px;">
                <h2>Add a show or movie:</h2>
                <form action="/process_movie" method=POST>
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="title">Title: </label>
                        <input type="text" name="title" id="title" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="genre">Genre:</label>
                        <select class="form-control" name="genre" id="genre">
                            <option value="family">Family</option>
                            <option value="action">Action</option>
                            <option value="comedy">Comedy</option>
                            <option value="thriller">Thriller</option>
                            <option value="documentary">Documentary</option>
                            <option value="crime">Crime</option>
                            <option value="horror">Horror</option>
                            <option value="anime">Anime</option>
                            <option value="romance">Romance</option>
                            <option value="scifi">Sci-Fi</option>
                            <option value="romcom">Romantic Comedy</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="image">Image URL: </label>
                        <input type="text" name="image" id="image" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Add Movie</button>
                </form>

            </div>

            <div class="col-sm p-3 m-2" style="border:2px solid #d5d5d5; border-radius: 25px;">
                <h2>Add a quote:</h2>
            
                {% if movies %}
                
                <form action="/add_quote" method="post">
                    {% csrf_token %}
                   
                    <div class="form-group">
                        <input class="col-sm custom-select custom-select-md" list="movies" name="movie_id"
                            placeholder="Choose a movie to add quote">
                            <datalist id="movies">
                            {% for movie in movies %}
                            <option value="{{movie.title}}" data-value="{{movie.id}}">{{movie.title}}</option>
                            {% endfor %}
                            </datalist>
                    </div>

                    <div class="form-group">
                        <label for="quote">Quote:</label>
                        <textarea class="form-control" name="quote" id="quote" cols="40" rows="5"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Quote</button>
                </form>
                {% endif %}

            </div>

        </div>

    </div>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>


</body>

</html>